{% extends 'LibraryBundle:Profile:layout.html.twig' %}
{% set menu_selected = 'library' %}
{% block profile_body %}

    <div class="row">
    {% for key, book in books %}
        <div class="col-sm-4 col-md-3">
            <div class="list-item">
                <div class="book-cover book-cover--small-size">
                    <a href="{{ path('book_show', {'id': book.id}) }}">
                        <img class="img-thumbnail" src="{{ asset(book.getCover(), 'cover') }}" alt="">
                    </a>
                    <div class="cover-hover">
                        <a href="{{ path('profile_remove_book', {bookId: book.id}) }}"
                           class="btn btn-xs btn-danger">{{ 'profile.remove_book'|trans({}, 'LibraryBundle') }}</a>
                    </div>
                </div>
                <h4>
                    <a href="{{ path('book_show', {'id': book.id}) }}">{{ book.getTitle() }}</a>
                </h4>
            </div>
        </div>

        {% if (key + 1) % 4 == 0 %}
            </div>
            <div class="row">
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}